h1 {
  margin-bottom: 50px;
}
body {
  background: hsla(227, 100%, 46%, 1);
  background: linear-gradient(
    45deg,
    hsla(227, 100%, 46%, 1) 0%,
    hsla(299, 70%, 51%, 1) 68%
  );
  background: -moz-linear-gradient(
    45deg,
    hsla(227, 100%, 46%, 1) 0%,
    hsla(299, 70%, 51%, 1) 68%
  );
  background: -webkit-linear-gradient(
    45deg,
    hsla(227, 100%, 46%, 1) 0%,
    hsla(299, 70%, 51%, 1) 68%
  );
}
.white_box {
  width: 80%;
  height: 400px;
  background-color: white;
  margin-top: 150px;
  margin-left: 150px;
  border-radius: 25px;
}
.icon {
  margin-left: 170px;
  margin-top: 50px;
}
.login_form {
  margin-left: 220px;
  margin-top: 50px;
  text-align: center;
}


#ip2 {
  border-radius: 25px;
  border: 2px solid lightgray;
  padding: 20px;
  margin-bottom: 3%;
  width: 400px;
  height: 15px;
}

button {
  appearance: none;
  outline: 0;
  background-color: green;
  border: 0;
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
  width: 400px;
  font-size: 18px;
  margin-bottom: 2%;
}
